# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv OPEN_AI_KEY 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
SetEnv TELEGRAM_TOKEN 6223615976:AAGzDQG9rDSE453M71iMIaJ7yjPqcpx5yu4
SetEnv USER_IDS 1087968824
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END